.d-block{
    height: 50%;
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

.mag-section{
    background: #f4eddd;
    display: block;
    position: relative;
    text-align: center;
}

.mag-content{
    /* max-width: 927px;
    min-width: 768px; */
    margin-top: 10px;
    padding:20px;
}

.card{
    width: 15%;
    margin: 10px 20px 10px 0px;
}

.card-deck{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-footer{
    background-color: white;
    border-top:none;
}

.fa-arrow-right{
    color: black;
    font-size: small;
    margin-left: 3px;
}

.product-item {
    .product-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

.product-image{
    height: min-content;
    width: min-content;
    margin-bottom: 10px;
}

.banner-container{
    //display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .shoe{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .shoe img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:100%;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }
}