<div class="mx-auto border border-dark-grey">
    <!-- ToolBar -->
    <div class="border mb-1 mt-1 p-3 d-flex justify-content-around">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':view == 'grid'}"
                (click)="view ='grid'">Grid</button>
            <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':view == 'list'}"
                (click)="view ='list'">List</button>
        </div>

        <div class="w-50 d-flex">
            <span class="me-5 d-flex align-items-center fs-5 fw-bold">Sort By</span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':sortby == 'default'}"
                    (click)="sortby ='default'">Default</button>
                <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':sortby == 'htl'}"
                    (click)="sortby ='htl'">Price (Hight to low)</button>
                <button type="button" class="btn btn-outline-secondary" [ngClass]="{'active':sortby == 'lth'}"
                    (click)="sortby ='lth'">Price (Low to High)</button>
            </div>
        </div>
    </div>
    <div class="p-1 mb-4">
        <!-- Grid-view -->
        <div class="grid-view" *ngIf="view == 'grid'">
            <div class="row g-5">
                <div class="col-lg-3 col-sm-6" *ngFor="let product of [1,1,1,1]">
                    <app-clothing></app-clothing>
                </div>
            </div>
        </div>

        <!-- List View -->
        <div class="list-view" *ngIf="view == 'list'">
            <div class="row mb-3" *ngFor="let product of [1,1,1,1]">
                <div class="col" >
                    <app-clothing></app-clothing>
                </div>
            </div>
        </div>
    </div>
</div>