<div class="container mb-4">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="lc-block">
				<span editable="inline" class="small mt-4 d-block">SHOP BY CATEGORY</span>
				<h1 editable="inline" class=" mb-0"><b>M E N </b></h1>
				<p editable="inline"> 
                    "Dressing well is a form of good manners."
                    <br>
                    -Tom Ford, Fashion Designer.
                </p>
			</div><!-- /lc-block -->
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-6">
			<div class="p-lg-5 mb-5 shadow img-bg">
				<div class="lc-block mb-4 ">
					<a class="category-text" href="#"><h4 class="my-3 category-text" editable="inline">Clothing</h4></a>
					<!-- <a class="btn btn-outline-light" href="#" role="button">Read more</a> -->
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-6">
			<div class="p-lg-5 mb-5 shadow img-bg1">
				<div class="lc-block mb-4 ">
					<a class="category-text" href="#"><h4 class="my-3 category-text" editable="inline">Footwear</h4></a>
				</div>
			</div>
		</div><!-- /col -->
		<div class="col-md-6">
			<div class="p-lg-5 mb-5 shadow img-bg2">
				<div class="lc-block mb-4 ">
					<a class="category-text" href="#"><h4 class="my-3 category-text" editable="inline">Accesories</h4></a>
				</div>
			</div>
		</div><!-- /col -->
        <div class="col-md-6">
			<div class="p-lg-5 mb-5 shadow img-bg3">
				<div class="lc-block mb-4 ">
					<a class="category-text" href="#"><h4 class="my-3 category-text" editable="inline">Bagpacks & Luggage</h4></a>
				</div>
			</div>
		</div><!-- /col -->
	</div>
</div>

