<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item title-logo">
                <a class="nav-link " href="#">L U X E<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Mens
                </a>
                <div class="dropdown-menu sm-menu">
                    <h6 class="text-uppercase fw-bold m-3">
                        Shop by Category
                    </h6>
                    <a class="dropdown-item" href="#">Clothing</a>                  
                    <a class="dropdown-item" href="#">Footwear</a>
                    <a class="dropdown-item" href="#">Accesories</a>    
                    <a class="dropdown-item" href="#">Bagpacks & Luggage</a>                  
                </div>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Womens
                </a>
                <div class="dropdown-menu sm-menu">
                    <h6 class="text-uppercase fw-bold m-3">Shop by Category</h6>
                    <a class="dropdown-item" href="#">Clothing</a>                  
                    <a class="dropdown-item" href="#">Footwear</a>
                    <a class="dropdown-item" href="#">Accesories</a>    
                    <a class="dropdown-item" href="#">Bagpacks & Luggage</a>
                    <a class="dropdown-item" href="#">Luxury Beauty</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: red;">SALE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">New Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>        
        </ul>
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fa fa-search"></i>
            </span>
                <a href="">
                    <i class="fa fa-regular fa-user icons"></i>
               </a>
                <a href="">
                    <i class="fa fa-solid fa-bag-shopping icons"></i>
                </a>             
        </div>
        <!-- <div class="social-part">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div> -->
    </div>
</nav>


